@import "tailwindcss";
/* hide scrollbar but keep scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari and Edge */
}
/* ✅ Make close (×) button white */
.custom-notification .ant-notification-notice-close {
  color: white !important;
  font-weight: bold;
}
